<div class="index">
  <div class="banner">
  <h1>My bookings</h1>
  </div>
</div>

<div class="cards-holder">
  <div>
  <h2>My booked offers</h2>
    <div class="cards">
    <% if @my_offers_booked_by_others.any? %>
      <ul class="cards-ul">
        <% @my_offers_booked_by_others.each do |offer| %>
          <div class="card-model">
          <li>
            <%= offer.name %>
            - Booked by:
            <ul>
              <% offer.bookings.each do |booking| %>
                <li><%= booking.user.email %> from <%= booking.check_in.strftime("%B %d, %Y") %>
                to <%= booking.check_out.strftime("%B %d, %Y") %></li>
              <% end %>
            </ul>
          </li>
          </div>
        <% end %>
      </ul>
    <% else %>
      <p>No one is interested in your bad experience yet</p>
    <% end %>
    </div>
  </div>

  <div>
  <h2>Offers I booked</h2>
    <div class="cards">
    <% if @my_booked_offers.any? %>
      <ul class="cards-ul">
        <% @my_booked_offers.each do |offer| %>
        <div class="card-model">
          <li><%= offer.name %></li>
        </div>
        <% end %>
      </ul>
    <% else %>
      <p>You are not interested in any bad experience yet.</p>
    <% end %>
    </div>
  </div>

</div>
