<div class="form-new p-5">
  <h1>Create a new place to stay!</h1>

  <div class="new-offer">
    <%= simple_form_for @offer, html: { multipart: true } do |f| %>
      <%= f.input :name, { class: "label-dark" }%>
      <div>
        <%= f.input :description, as: :text, :input_html => { 'rows' => 20, 'cols' => 10 } %>
      </div>
      <%= f.input :address %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Create offer!", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
