<div class="show">
  <h1><%= @offer.name %></h1>
    <% if @offer.image_url && @offer.image_url.key %>
    <%= cl_image_tag @offer.image_url.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <p>No image available</p>
  <% end %>
  <p><%= @offer.description %></p>
  <p><%= @offer.address %></p>
  <% if @offer.availability == true %>
    <p><%= @offer.name %> is available!</p>
  <% else %>
    <p><%= @offer.name %> is currently not available</p>
  <% end %>

  <button class="btn">
    <%= link_to "Book now!", new_offer_booking_path(@offer) %>
  </button>
</div>

<div class="show">
    <% if @offer.user == current_user %>
      <%= link_to "Delete",
      offer_path(@offer),
      data: {turbo_method: :delete, turbo_confirm: "This offer is horrible. Are you sure that you want to delete?"}%>
      <%= link_to "Update",
      edit_offer_path(@offer)%>
    <% end %>
</div>
