
<h1><%= @offer.name %></h1>
<p><%= @offer.description %></p>
<p><%= @offer.address %></p>
<p><%= @offer.availability %></p>

<%= link_to "Book now!", new_offer_booking_path(@offer) %>

  <div class="show">
    <% if @offer.user == current_user %>
      <%= link_to "Delete",
      offer_path(@offer),
      data: {turbo_method: :delete, turbo_confirm: "This offer is horrible. Are you sure that you want to delete?"}%>
      <%= link_to "Update",
      edit_offer_path(@offer)%>
    <% end %>
  </div>
